In [1]:
# Standard scientific Python imports
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np
import re
from io import StringIO
import seaborn as sns
import datacompy

# Import datasets, classifiers and performance metrics
from sklearn import datasets, svm, metrics
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import precision_recall_fscore_support
from sklearn.utils.multiclass import unique_labels
from sklearn.metrics import confusion_matrix
from sklearn.datasets import make_hastie_10_2
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.preprocessing import scale
from sklearn.model_selection import KFold

# scikit-learn k-fold cross-validation
from numpy import array

In [2]:
synthetic_df = pd.read_csv("/Users/sailaharimullapudi/Desktop/data 23-24/synthetic data preview.csv")
synthetic_df_str = synthetic_df.astype(str)
synthetic_df_str

     Age SystolicBP DiastolicBP     BS BodyTemp HeartRate  RiskLevel
0     28         85          92  16.26     98.0        84  high risk
1     12        129          80   7.05     98.0        77   mid risk
2     14        127          65   7.44     98.1        69   low risk
3     20        119          77   9.42     98.0        57   mid risk
4     50         98          94   16.8     98.0        85  high risk
...   ..        ...         ...    ...      ...       ...        ...
4995  17        120          91   7.95     98.0        69   low risk
4996  38         86          71   8.29     98.0        75   mid risk
4997  17         89          80  10.31     98.0        69   mid risk
4998  32         87          94   7.52     98.0        69  high risk
4999  13        119          92  11.88     98.1        63  high risk

[5000 rows x 7 columns]

In [3]:
patient_df = pd.read_csv("/Users/sailaharimullapudi/Desktop/data 23-24/Maternal Health Risk Data Set.csv")
patient_df["Name"] = "dumb srikanth"
patient_df_str = patient_df.astype(str)
patient_df_str

,Age,SystolicBP,DiastolicBP,BS,BodyTemp,HeartRate,RiskLevel,Name
0,25,130,80,15.0,98.0,86,high risk,dumb srikanth
1,35,140,90,13.0,98.0,70,high risk,dumb srikanth
2,29,90,70,8.0,100.0,80,high risk,dumb srikanth
3,30,140,85,7.0,98.0,70,high risk,dumb srikanth
4,35,120,60,6.1,98.0,76,low risk,dumb srikanth
...,...,...,...,...,...,...,...,...
1009,22,120,60,15.0,98.0,80,high risk,dumb srikanth
1010,55,120,90,18.0,98.0,60,high risk,dumb srikanth
1011,35,85,60,19.0,98.0,86,high risk,dumb srikanth
1012,43,120,90,18.0,98.0,70,high risk,dumb srikanth
1013,32,120,65,6.0,101.0,76,mid risk,dumb srikanth

In [5]:
df_merge = synthetic_df.merge(patient_df,
        on=['Age', 'SystolicBP', 'DiastolicBP', 'BS', 'BodyTemp', 'HeartRate', 'RiskLevel'], 
        how = 'left')
df_merge

      Age  SystolicBP  DiastolicBP     BS  BodyTemp  HeartRate  RiskLevel Name
0      28          85           92  16.26      98.0         84  high risk  NaN
1      12         129           80   7.05      98.0         77   mid risk  NaN
2      14         127           65   7.44      98.1         69   low risk  NaN
3      20         119           77   9.42      98.0         57   mid risk  NaN
4      50          98           94  16.80      98.0         85  high risk  NaN
...   ...         ...          ...    ...       ...        ...        ...  ...
4995   17         120           91   7.95      98.0         69   low risk  NaN
4996   38          86           71   8.29      98.0         75   mid risk  NaN
4997   17          89           80  10.31      98.0         69   mid risk  NaN
4998   32          87           94   7.52      98.0         69  high risk  NaN
4999   13         119           92  11.88      98.1         63  high risk  NaN

[5000 rows x 8 columns]

In [6]:
df_merge.to_csv("/Users/sailaharimullapudi/Desktop/data 23-24/df_merge.csv", sep=',', index=False, encoding='utf-8')

In [ ]:
# df_merge = pd.concat(synthetic_df,patient_df[['Age', 'SystolicBP', 'DiastolicBP', 'BS', 'BodyTemp', 'HeartRate', 'RiskLevel', 'Name']]
#                     ,on= ['Age', 'SystolicBP', 'DiastolicBP', 'BS', 'BodyTemp', 'HeartRate', 'RiskLevel', 'Name'], how='left')

In [ ]:
df_merge_diff = df_merge.loc[lambda x : x['_merge'] != 'both']  # Remove shared rows
#df_merge_diff                                                  
print(df_merge_diff)

In [ ]:
df_merge_diff

In [ ]:
outer_join = synthetic_df.merge(patient_df, how = 'outer', indicator = True)

anti_join = outer_join[~(outer_join._merge == 'both')].drop('_merge', axis = 1)

In [ ]:
outer_join

In [ ]:
anti_join